---
layout: default
---

<div class="home">

  <div id="main">
  <img src="/images/scenery.jpg" alt="Sea view near temple of Poseidon">
  </div>

  <div id="sidebar">
      <div class="trigger">
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <h2>
              <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </h2>
              {% endif %}
            {% endfor %}
      </div>
      <hr>
      <h1 class="page-heading">Posts</h1>
      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h3>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h3>
          </li>
        {% endfor %}
      </ul>
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>


</div>
