<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list social-media-list">
          <li> Email: {{ site.email }} </li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          {% if site.quora_username %}
          <li>
            {% include icon-quora.html username=site.quora_username %}
          </li>
          {% endif %}
          {% if site.stack_username %}
          <li>
            {% include icon-stackexchange.html username=site.stack_username uid=site.stack_uid %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <!-- Empty to keep formatting -->
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
    <div>
      Icons made by <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a>
      from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>
      is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
    </div>
  </div>

</footer>
